<!DOCTYPE html>
<html>
<head>
    <title>huntermacd.com | {% block title %}{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Nova+Mono' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header>
        <a href="/">
            <svg class="logo">
                <circle cx="20" cy="20" r="15" fill="white"/>
                <circle cx="20" cy="55" r="15" fill="white"/>
                <circle cx="55" cy="55" r="15" fill="white"/>
                <circle cx="90" cy="55" r="15" fill="white"/>
                <polyline fill="none" stroke="maroon" stroke-width="5" stroke-linejoin="round" points="20,20 20,55 37.5,40 55,55 72.5,40 90,55 115,55" stroke-linecap="round"/>
            </svg>
        </a>
        <div class="links">
            <a href="#"><i class="fa fa-envelope-square"></i></a>
            <a href="#"><i class="fa fa-github-square"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>