header,
main {
    padding: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
}

main {
    position: fixed;
    top: 0;
    left: 110px;
    bottom: 0;
    width: 100%;
}