{% extends '../index.html' %}

{% block title %}Add Post{% endblock title %}

{% block content %}
    <h3>Add New Post</h3>
    <form action="/add" method="post">
            <input type="text" name="title" placeholder="title" required/><br/>
            <textarea name="body" placeholder="body" required></textarea><br/>
            <button>pre</button><br/>
            <input type="text" name="tags" placeholder="comma-separated tags" required/><br/>
            <input type="submit" value="Add Post"/>
    </form>
    <script src="/pre.js"></script>
{% endblock content %}