{% extends '../index.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}
    <div class="all-tags"><a href="/tags">View All Tags</a></div>
    {% for post in posts %}
        <article>
            <h3><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
            {% autoescape false %}
            <p>{{ post.body }}</p>
            {% endautoescape %}
            <p><small>Posted: <i>{{ post.date.toLocaleString() }}</i>{% if post.edited %} | Edited: <i>{{ post.edited.toLocaleString() }}</i>{% endif %}</small></p>
            <p><small>Tags: 
                {% for tag in post.tags %}
                    {% if loop.last %}
                        <a href="/tag/{{ tag }}">{{ tag }}</a>
                    {% else %}
                        <a href="/tag/{{ tag }}">{{ tag }}</a>,&nbsp;
                    {% endif %}
                {% endfor %}
            </small></p>
        </article>
    {% endfor %}
    <div class="pages">
        {% if page > 1 %}
            <a href="/?page={{ page - 1 }}">Newer Posts</a> |
        {% else %}
            <span>Newer Posts</span> |
        {% endif %}
        {% if pagesLeft %}
            <a href="/?page={{ page + 1 }}">Older Posts</a>
        {% else %}
            <span>Older Posts</span>
        {% endif %}
    </div>
{% endblock content %}