{% extends '../index.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <article>
        <h3><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
        {% autoescape false %}
        <p>{{ post.body }}</p>
        {% endautoescape %}
        <p><small>Posted: <i>{{ post.date.toLocaleString() }}</i>{% if post.edited %} | Edited: <i>{{ post.edited.toLocaleString() }}</i>{% endif %}</small></p>
        <p><small>Tags: 
            {% for tag in post.tags %}
                {% if loop.last %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                {% else %}
                    <a href="/tag/{{ tag }}">{{ tag }}</a>,&nbsp;
                {% endif %}
            {% endfor %}
        </small></p>
    </article>
    {% if user %}
        <a href="/edit/{{ post.slug }}">Edit Post</a>
    {% endif %}
{% endblock content %}